*~
*.swp
.ssh/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER*
Searches/
Pictures/
Videos/
_viminfo
Saved Games/
.eclipse/
.kivy/
.oracle*/
Tracing/
.p2/
.bash_history
