*~
*.swp
.ssh/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER*
Searches/
Pictures/
Videos/
_viminfo
Saved Games/
.eclipse/
.oracle_jre_usage/
Tracing/ 
.bash_history 
.p2/ 
.jssc/ 
